/* Global app styles (things that apply to the whole app layout)*/
.all {
    background-image: url('../src/assets/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

html, body {
    height: 100%;
    width: 100%;
}

nav {
    padding-top: 2rem;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: rgb(192, 99, 99);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
}

nav a:hover {
    background-color: rgb(122, 0, 126);
}

nav a:active {
    background-color: rgb(61, 0, 63);    
}